<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light w-100 h-100 mx-auto container">
        <a class="navbar-brand" href="{{ wpov_home_url() }}">{{ admin_settings.app_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% for item in wpov_footer_menu.get_items() %}
                <li class="nav-item {{ item.classes | join(' ') }}"><a class="nav-link" href="{{ item.link }}">{{ item.title }}</a></li> 
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>