{% extends "base.twig" %}

{% block content %}
{% set parties = post_voting.parties() %}
{% set questions = post_voting.questions() %}
{% set modals = [] %}

    <div class="card mb-3">
        <div class="card-body">
            <h3 class="cart-title">{{ __('In direct comparison', WPOV__PLUGIN_NAME_SLUG) }}</h3>
        </div>
    </div>
</main>

<main class="d-flex mw-100 h-100 p-3 flex-column container">
    <div class="card mb-3">
        <div id="wpov-compare-table" class="card-body table-responsive position-relative">
            <table class="table cart-text sortable bg-white">
                <thead class="wpov-sticky">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" data-defaultsort="disabled">{{ __('Question', WPOV__PLUGIN_NAME_SLUG) }}</th>
                        <th scope="col">{{ __('You', WPOV__PLUGIN_NAME_SLUG) }}</th>
                        {% for party in parties %}
                        <th scope="col">
                            {% set modal_id = 'party_' ~ party.get_id() %}
                            
                            {% set party_logo %}
                            <a href data-toggle="modal" data-target="#{{ modal_id }}">
                                {{ party.title() }}
                            </a>
                            {% endset %}                      

                            {{ party_logo }}
                            
                            {% set modal %}
                            {% include 'components/modal.twig' with {
                                modal_id : modal_id,
                                modal_title : party.title(),
                                modal_body : (party.description() ? fn('apply_filters', 'the_content', party.description()) : ''),
                                modal_footer : '<a href="' ~ party.url() ~ '" target="_blank" class="btn btn-secondary">' ~ __('Open Website', WPOV__PLUGIN_NAME_SLUG) ~ '</a>'
                            } %} 
                            {% endset %}
                            
                            {% set modals = modals|merge([modal]) %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <th data-mainsort="1" data-firstsort="asc" scope="row">{{ question.question_index_readable() }}</th>
                        <td>{{ question.question() }}</td>
                        <td>
                            {% set current_user_vote = current_voter().get_vote(post_voting.get_id(), question.get_id()) %}
                            {% if current_user_vote.vote %}
                            <a href="{{ question.link() }}" class="btn {{ fn('wpov_get_vote_class', current_user_vote.vote ) }}" style="margin:0; padding: 0.5em 1em;">
                                {{ fn('wpov_get_vote_symbol', current_user_vote.vote ) }}
                            </a>
                            {% endif %}
                        </td>
                        {% for party in parties %}
                        {% set party_answer = party.voting_answer(post_voting.get_id(), question.get_id()) %}
                        {% set party_answer_explanation = party.voting_answer_explanation(post_voting.get_id(), question.get_id()) %}

                        <td data-answer="{{party_answer.answer()}}">
                            <a 
                               href="{{ question.link() }}" 
                               class="btn {{ fn('wpov_get_vote_class', party_answer.answer() ) }}" 
                               style="margin:0; padding: 0.5em 1em;"
                               {% set modal_id = 'modal' ~ party.get_id() ~ '_' ~ post_voting.get_id() ~ '_' ~ question.get_id()  %}
                               {% if party_answer_explanation %}
                                    data-toggle="modal" 
                                    data-target="#{{ modal_id }}"
                               {#
                                    data-toggle="tooltip" data-html="true" 
                                    title="{{ fn('htmlentities2', party_answer_explanation) }}"
                               #}
                               {% endif %}
                               >
                                {{ fn('wpov_get_vote_symbol', party_answer.answer() ) }}
                            </a>
                            {% set modal %}
                            {% if party_answer_explanation %}
                                {% include 'components/modal.twig' with {
                                    modal_id : modal_id,
                                    modal_title : __('Explanation', WPOV__PLUGIN_NAME_SLUG),
                                    modal_body : fn('apply_filters', 'the_content', party_answer_explanation)
                                } %}
                            {% endif %}   
                            {% endset %}
                            
                            {% set modals = modals|merge([modal]) %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{{ modals|join }}
    
</main>
<main class="d-flex w-100 h-100 p-3 mx-auto flex-column container">

<a class="btn btn-primary btn-sm" href="{{ post_voting.result_link() }}">{{ __('Back to overview', WPOV__PLUGIN_NAME_SLUG) }}</a>

    
{% endblock %}